.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  /* background-color: #0d2c44; */
}

.NActive {
  background: #5f7892;
}

.logo_csi {
  margin-left: 40px;
  margin-right: 230px;
  width: auto; /* Changed to auto to maintain aspect ratio */
  max-width: 160px; /* Set a maximum width */
  height: auto; /* Changed to auto to maintain aspect ratio */
  max-height: 70px; /* Set a maximum height */
  padding: 5px; /* Optional: Add some padding */
  transition: max-width 0.3s; /* Optional: Smooth transition */
}

.logo-title {
  font-size: 17px;
}

.new-bounce {
  font-size: 10px;
  margin-left: 4px;
  position: relative;
  top: -10px;
  margin-bottom: 13px;
  color: #ffffff;
  padding: 3px 4px;
  border-radius: 3px;
}

.new-bounce {
  animation: bouncing 0.8s cubic-bezier(0.1, 0.05, 0.05, 1) 0s infinite
    alternate both;
}

@keyframes bouncing {
  0% {
    top: -6px;
  }
  100% {
    top: -10px;
  }
}

@media screen and (max-width: 576px) {
  .logo_csi {
    width: auto; /* Keep it auto to maintain aspect ratio */
    max-width: 50px; /* Set max width for mobile */
    max-height: 50px; /* Set max height for mobile */
    margin-left: 10px; /* Adjust margins for better alignment */
    margin-right: 10px;
  }

  .logo-title {
    font-size: 15px;
  }
}
