.app__blog {
    background-color: rgba(100, 100, 100, 0);
    margin: 0;
    padding: 2%;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0);
    border-radius: 5px;
}

.app__blog_view img {
    height: 10rem;
    width: 100%;
    padding: 1%;
}

.app__blog_header {
    padding: 2%;
}

.app__blog_header h2 {
    font-size: 3rem; /* Consider using rem for better responsiveness */
    color: white; /* Fixed typo from 'whi' to 'white' */
    font-weight: 300;
}

.app__blog_tabs {
    display: flex;
}

.app__blog_tabs h6 {
    padding: 0 2%;
    color: white;
}

.app_articles {
    padding: 2%;
}

.articles__black1 h6,
.articles__black1 h3 {
    color: white;
    font-weight: 300; /* Change h3 if different font-weight is required */
    overflow: hidden; /* Ensure it doesn't overflow */
    display: -webkit-box; /* For max-lines effect */
    -webkit-line-clamp: 3; /* Limit lines */
    -webkit-box-orient: vertical; /* Use vertical box for clamping */
}

.app__editors {
    display: flex;
    flex-direction: row;
}
